body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none !important;
}
.font_suez{
  font-family: 'Suez One';
}
.font_josefin{
  font-family: 'Josefin Sans';
}
.font_times{
  font-family: 'Times New Roman', Times, serif;
}
.text_lightgrey{
  color: lightgray !important;
}
.text_green{
  color: #44EC1D !important;
}
.text_blue{
  color: #00CCE6 !important;
}
.text_orange{
  color: #FFC101 !important;
}
.bg_green{
  background-color: #44EC1D;
}
.bg_blue{
  background-color: #00CCE6;
}
.bg_orange{
  background-color: #FFC101;
}
.dark_bg{
  background-color: #00022E;
}
.bg_light{
  background-color: #f8f8f8;
}
#Navbar{
  background-color: rgba(0,0,0,0);
}
.navbar_scrolled{
  background-color: white !important;
  border-bottom: 1px solid grey;
}
.navbar_link{
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: lightgray !important;
}
.navbar_link:hover{
  color: white !important;
}
.navbar_link_scrolled{
  color: grey !important;
}
.navbar_link_scrolled:hover{
  color: black !important;
}
#header{
  background-color: black;
  height: 70vh;
}
#header_container{
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,1)), url(images/header.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: right;
}
.service_card{
  box-shadow: 0px 0px 20px 0px #ccc;
}
.service_poster{
  position: relative;
  width: 100%;
  padding-top: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-size: 100%;
}
#service_gym{
  background-image: linear-gradient(to right, rgba(0, 204, 230, 0.3), rgba(0, 204, 230, 0.3)) ,url(images/gym.jpg);
}
#service_steam{
  background-image: linear-gradient(to right, rgba(255, 193, 1, 0.3), rgba(255, 193, 1, 0.3)) ,url(images/steam.jpg);
}
#service_massage{
  background-image: linear-gradient(to right, rgba(68, 236, 29, 0.3), rgba(68, 236, 29, 0.3)) ,url(images/massage.jpg);
}
.service_name{
  position: absolute;
  right: 2%;
  bottom: 10%;
}
.rounded_button{
  border-radius: 50px;
}
.button_raise:hover{
  box-shadow: 0 3px 5px 2px lightgrey;
}
.membership_card{
  position: relative;
  height: 70vh;
  box-shadow: 0px 2px 20px 0px #ccc;
  border-radius: 10px;
}
.membership_bg{
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: 100% auto;
}
#regular{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/regular.jpg);
}
#pro{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/pro.jpg);
}
#elite{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/elite.jpg);
}
.membership_info{
  padding-top: 25%;
}
.membership_profile{
  position: absolute;
  width: 30%;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 5px 20px 0px lightgrey;
}
.membership_button{
  background-color: transparent;
  border: 2px solid #2227A4;
  color: #2227A4;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.membership_button:hover{
  background-color: #2227A4;
  color: #44EC1D;
}
.testimonial_slide{
  border-radius: 20px;
  border: 1px solid grey;
}
.testimonial_text{
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel-control-prev{
  background-color : #44EC1D;
  height : 40px;
  opacity : 1;
  width : 40px;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: -20px;
}
.carousel-control-prev:hover{
  opacity : 1;
  background-color : darkgreen;
}
.carousel-control-next{
  background-color : #44EC1D;
  right : 0;
  height : 40px;
  opacity : 1;
  width : 40px;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: -20px;
}
.carousel-control-next:hover{
  opacity : 1;
  background-color : darkgreen;
}